*{
    padding:0;
    margin: 0;
}

header{
    background-image:url("img\pattern.png");
    height:100px;
    width: 100%;
    margin: auto;
}

body{
    padding:20px;
}

#description{
    font-size:13px;
}


#title{
    padding:20px 0;
}

#subtitle{
    color:grey;
}

#author{
    color:#0095B6;
}

#date{
    font-size:15px;
}

.paragraph{
    padding:15px 0px;
    font-weight: 500;
}

h5 {
    color: #000000;
    font-size: 140%;
    font-weight:bold;
    padding: 10px 0;
  }


  #logo{
      width: 30%;
      height: 20%;
      margin:auto;
  }

.giallo{
    background-color:yellow;
}

table{
    width:70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#first-line{
    background-color: #1aaae6;
}
#second-line{
    background-color: #b2e6f2;
    height: 60px;
}
#third-line{
    background-color: #ffffff;
    height: 60px;
}
#fourth-line{
    background-color: #b2e6f2;
    height: 60px;
}